# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# Update to latest versions of hooks with `pre-commit autoupdate`
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-toml
    -   id: check-added-large-files
    -   id: mixed-line-ending
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
    -   id: ruff-format
    -   id: ruff
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: cargo-check
        args: ["--workspace"]
    -   id: fmt
        args: ["--", "--check"]
    -   id: clippy
        args: ["--", "-D", "warnings"]
